@import "tailwindcss";


html {
    scroll-behavior: smooth;
}
/* body {
    background-color: black;
} */

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.9s ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
animate-slideIn {
  animation: slideIn 0.9s ease-out forwards;
}


